# 全局忽略
*
*/

# 根目录文件白名单
!.gitignore
!README.org
!LICENSE
!init.el
!early-init.el
!flake.nix
!flake.lock

# 子目录文件白名单
!lisp/
!lisp/**/
!lisp/**/*.el

!pkgs/
!pkgs/**/
!pkgs/**/*.nix
!pkgs/**/*.el

!locks/
!locks/**/
!locks/**/*.nix
!locks/**/*.lock

!tests/
!tests/**/
!tests/**/*.nix
!tests/**/lisp/*.el

# 全局黑名单
**/tmp/
*~
*#*
